CSS Source Code:
/* Basic Reset */
* {
 margin: 5;
 padding: 5;
 box-sizing: border-box;
}
header {
 font-family: 'garamond', sans-serif;
 line-height: 1.6;
 padding: 20px;
 text-align: center;
}
.blueprint-img {
 border: 5px solid #5C4033;
 display:block;
 margin-left:auto;
 margin-right:auto;
 border-radius: 50px;
}
body {
 font-family: 'garamond', sans-serif;
 line-height: 1.6;
 padding: 20px;
 background-color: #ebdcb2;
 text-align: center;
}
article {
 max-width: 800px;
 margin: 20px auto;
 padding: 20px;
 background: #fff;
 border: 1px solid #ddd;
 border-radius: 8px;
}
h1, h2 {
	color: #5C4033;
}
.recipe-img {
 max-width: 100%;
 height: auto;
 border-radius: 8px;
}

.instructions li {
 margin-bottom: 10px;
 text-align: left;
}
footer {
 text-align: center;
 margin-top: 20px;
 padding-top: 20px;
 border-top: 1px solid #ddd;
}